.container_contact {
    background-color: rgb(217, 255, 155);
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 32px;
    padding-top: 16px;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    width: 50%;
    min-width: 500px;
    align-items: flex-start;
}
.container_contact h2 {
    margin-bottom: 16px;
}

.container_contact input, textarea {
    height: 40px;
    font-size: 16px;
    margin-bottom: 8px;
    width: 100%;
}

.container_contact textarea {
    height: 120px;
    resize: vertical;
}

.container_contact button {
    height: 40px;
    font-size: 18px;
    width: 100%;
}