.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
  }

.container {
    width: 100%;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin-bottom: 32px;
}

.container h1 {
    font-size: 56px;
    margin-top: 32px;
    margin-bottom: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

.container h2 {
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 18px;
}

.container p {
    padding-right: 20%;
    padding-left: 20%;
}

#divBusca input {
    height: 48px;
    width: 50%;
    font-size: 18px;
    margin-right: 24px;
    padding: 16px;
}