.login {
    background-color: rgb(255, 210, 126);
    padding: 32px;
    display:flex;
    margin:auto;
    border-radius: 20px;
}

.login input {
    font-size: 18px;
    padding: 16px;
    margin-bottom: 18px;
    height: 40px;
    min-width: 400px;
}

.login label {
    font-size: 18px;
    margin-bottom: 16px;
}

.login button {
    font-size: 18px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
}