.cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  .bio_card {
    display: flex;
    flex-flow: row;
    width: 100%;
    box-shadow: 0 6px 20px rgba(70, 70, 70, 0.3);
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 24px;
    background-color:darkred;
  }

  .card_info_title {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color:darkred;
  }

  .bio_card_image {
    height: 300px;
    width: 200px;
    object-fit: cover;
    margin-bottom: 4px;
  }

  .bio_empty_image {
    width: 16px;
  }

  .card_info {
    width:100%;
    display: flex;
    flex-flow: column;
    padding: 32px;
    background-color: rgb(255, 249, 198);
    text-align: justify;
    font-size: 1.1rem;
  }

  .card_info p {
    margin-bottom: 16px;
  }

  .card_info .icon {
    height: 12px;
    margin-right: 8px;
  }

  .card_info_header {
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 18px;
  }