footer {
  color: white;
  background-color: rgb(25, 25, 25);
  text-align: center;
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
}

.column {
  padding-right: 16px;
  padding-left: 16px;
}

