.header {
    background-color: beige;

}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    align-content: center;
}

.header li {
    display: inline-block;
    margin: 20px;
}

.header a {
    text-decoration: none;
    color: rgba(70, 70, 70, 1);
}

.header a:hover,
.header a:active {
    color: orange;
}

.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}