* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    color:rgba(70, 70, 70, 1),
  }


.heart {
color: rgba(70, 70, 70, 1)
}

.heart-filled {
  color: #bd2e3a
}

.App {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

