.bios {
    padding-top: 32px;
    margin: auto;
    width: 50%;
    min-width: 700px;
}

.search_header {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;

}

.search_header label {
    font-size: 24px;
}